<div class="jumbotron">
  <h1 class="display-4">La Team !!</h1>
</div>



<div class="d-flex flex-wrap m-4 justify-content-center">
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/moi.jpg', class: 'team_images' %>
    <div>Moi</div>
  </div>
  <div class="d-flex flex-column align-items-center m-4">
    <%= image_tag 'team/second.jpg', class: 'team_images' %>
    <div>Mon second</div>
  </div>
  
  
</div>

