<div class="jumbotron">
  <h1 class="display-4">Nous contacter</h1>
</div>

<div class="card text-center mx-auto m-5" style="max-width: 50rem;">
  <div class="card-body">
    <h5 class="card-title"> Rdv Bordeaux Mériadeck </h5>
    <p class="card-text">Tous les matins du lundi au vendredi.</p>
    <a href="https://www.google.com/maps/place/Bibliothèque+Mériadeck/@44.8353762,-0.5868992,15z/data=!4m5!3m4!1s0x0:0x97f0a370e17a622c!8m2!3d44.8353762!4d-0.5868992" target="_blank">C'est ici</a>
  </div>
  <div class="card-footer text-muted">
    2 days ago
  </div>
</div>
